<section id="user">
  <div class="my-form">
    <div class="row">
      <div class="col-md-5">
        <form #userForm="ngForm">
          <div class="mb-2">
            <button type="button" (click)="prev()" class="btn btn-primary">
              PREV
            </button>
            <button type="button" (click)="next()" class="btn btn-primary">
              NEXT
            </button>
            <button type="button" (click)="add()" class="btn btn-success">
              ADD
            </button>
            <button
              type="button"
              [disabled]="!userForm.form.valid"
              (click)="delete()"
              class="btn btn-danger"
            >
              DELETE
            </button>
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input
              #name="ngModel"
              [(ngModel)]="formData.id"
              type="text"
              class="form-control"
              id="id"
              name="id"
              hidden
            />
            <input
              #name="ngModel"
              [(ngModel)]="formData.name"
              type="text"
              class="form-control"
              id="name"
              name="name"
              required
            />
            <div
              *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="name.errors.required">Name is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="surname">Surname</label>
            <input
              #surname="ngModel"
              [(ngModel)]="formData.surname"
              type="text"
              class="form-control"
              id="surname"
              name="surname"
              required
            />
            <div
              *ngIf="surname.invalid && (surname.dirty || surname.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="surname.errors.required">Surname is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="company">Company</label>
            <input
              #company="ngModel"
              [(ngModel)]="formData.company"
              type="text"
              class="form-control"
              id="company"
              name="company"
              required
            />
            <div
              *ngIf="company.invalid && (company.dirty || company.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="company.errors.required">Company is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="jobTitle">Job Title</label>
            <input
              #jobTitle="ngModel"
              [(ngModel)]="formData.jobTitle"
              type="text"
              class="form-control"
              id="jobTitle"
              name="jobTitle"
              required
            />
            <div
              *ngIf="jobTitle.invalid && (jobTitle.dirty || jobTitle.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="jobTitle.errors.required">Job Title is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Mobile Phone</label>
            <input
              #mobilePhone="ngModel"
              [(ngModel)]="formData.mobilePhone"
              type="number"
              class="form-control"
              id="mobilePhone"
              name="mobilePhone"
              required
            />
            <div
              *ngIf="
                mobilePhone.invalid &&
                (mobilePhone.dirty || mobilePhone.touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="mobilePhone.errors.required">
                Mobile Phone is required.
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                #email="ngModel"
                [(ngModel)]="formData.email"
                type="text"
                class="form-control"
                id="email"
                name="email"
                required
              />
              <div
                *ngIf="email.invalid && (email.dirty || email.touched)"
                class="alert alert-danger"
              >
                <div *ngIf="email.errors.required">Email is required.</div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<div *ngFor="let fake of fakes" class="main">
  <app-user-card (click)="selectData(fake)" [(fake)]="fake"></app-user-card>
</div>
