<div class="card text-white bg-primary mb-3 ml-2" style="max-width: 20rem;">
  <div class="card-header">
    {{ fake.name }} {{ fake.surname }} - {{ fake.jobTitle }}
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ fake.company }}</h4>
    <div>
      Mobile Phone : <span>{{ fake.mobilePhone }}</span>
    </div>
    <div>
      Email : <span>{{ fake.email }}</span>
    </div>
  </div>
</div>
