<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Angular Test</a>
  <div class="navbar-expand mr-auto">
    <!-- <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#"></a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div> -->
  </div>
</nav>
